body
{
	background: white url("images/background.png")
}

.navbar-brand
{
    font-family: 'Montserrat',cursive;
}

.album-font
{
    font-family: 'Montserrat';
}

.btn-dark
{
outline: 0;
padding: 5px 12px;
color: #9fa8b0;
background-color: #474646;
font-family: 'Montserrat',cursive;
}